/* punyik's style */

:root {
    --color_black: #000000;
    --color_white: #ffffff;
    --color_magenta: #d90075;
    --color_feverred: #f65058;
    --color_mustard: #a76225;
    --color_incabrown: #d9b365;
    --color_marrakech: #99743f;
    --color_sequoiabrown: #412c13;
    --color_lasergreen: #99C221;
    --color_eldorado: #f1c700;
    --color_marsorange: #e64715;
    --color_grey: #202020;
    --color_carbon: #121212;
    --color_cement: #eeeeee;
    --font_text: 'Lexend', sans-serif;
    --font_data: 'Red Hat Mono', monospace;
    --font_symbol: 'Noto Emoji', sans-serif;
    --dot_size: 3px;
    --grid_divisions: 9;

    --color_front: var(--color_black);
    --color_back: var(--color_white);
    --color_canvas: var(--color_cement);
    --color_accent: var(--color_marrakech);
    --color_discrete: var(--color_mustard);
    --color_annotate: var(--color_magenta);
}

[data-theme="dark"] {
    --color_front: var(--color_white);
    --color_back: var(--color_black);
    --color_canvas: var(--color_carbon);
    --color_accent: var(--color_marrakech);
    --color_discrete: var(--color_incabrown);
    --color_annotate: var(--color_lasergreen);

  }

@media screen and (orientation: landscape) {
    :root {
        --layout_screen: 100vh;
        --layout_unit: 3vh;
        --font_size: 3vh;
    }
}

@media screen and (orientation: portrait) {
    :root {
        --layout_screen: 100vw;
        --layout_unit: 3vw;
        --font_size: 3vw;
    }
}



head {} /* update: 25.02.13 */



body {
    background-color: var(--color_front);
    display: block;
    height: 100%;
    margin: 0;
    overflow-y: auto;
    transition: background-color 0.3s, color 0.3s;
} /* update: 25.02.12 */

body.report {
    
} /* update: 25.02.12 */



header.toggle {} /* update: 25.02.12 */

button.theme-toggle {} /* update: 25.02.12 */



section.top {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    justify-content: center;
    padding: calc(var(--layout_unit)*1) calc(var(--layout_unit)*1) 0 calc(var(--layout_unit)*1);
    page-break-inside: avoid;
    position: relative;
} /* update: 25.02.12 */

section.canvas {}

section.frame {}

section.grid {}

section.map

section.footer {
    background-color: var(--color_black);
    bottom: 0;
    height: 90px;
    position: fixed;
    justify-self: flex-end;
    width: 100%;
    z-index: 1000;
} /* update: 25.02.12 */



span.container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
}

span.content {
    align-content: flex-end;
    justify-content: end;
    box-sizing: border-box;
    padding: calc(var(--layout_unit)*1);
    position: relative;
    width: 100%;
}



/*
@media (prefers-color-scheme: dark) {
    :root {
        --color_front: var(--color_white);
        --color_back: var(--color_black);
        --color_canvas: var(--color_carbon);
        --color_accent: var(--color_marrakech);
        --color_discrete: var(--color_incabrown);
        --color_annotate: var(--color_lasergreen);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --color_front: var(--color_black);
        --color_back: var(--color_white);
        --color_canvas: var(--color_cement);
        --color_accent: var(--color_marrakech);
        --color_discrete: var(--color_mustard);
        --color_annotate: var(--color_magenta);
    }
}
*/ /* update: 25.02.12 */

/* review what comes after */



span.canvas {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-radius: calc(var(--layout_unit)*1.5);
    background-color: var(--color_canvas);
}



span.button {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

span.overlay {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    padding: calc(var(--layout_unit)*1);
}

span.frame {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    padding: calc(var(--layout_unit)); 
    border-radius: calc(var(--layout_unit));
    background-color: var(--color_canvas);
}

span.header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
}

span.title {}




a {
    border-radius: calc(var(--layout_unit)*0.4);
    padding: calc(var(--layout_unit)*0.2); 
    text-decoration-line: none;
}

a:hover {
    background-color: var(--color_marsorange);
    text-decoration-line: none;
}

a::before, a::after {
    color: var(--color_discrete);
    text-decoration-line: none;
}

a:hover code.return {
    color: var(--color_back);
    text-decoration-line: underline;
}

img.background {
    width: 100%;
    border-radius: calc(var(--layout_unit)*1.5);
}

img.picture {
    width: 100%;
}



.text {
    font-family: var(--font_text);
}

.data {
    font-family: var(--font_data);
}

.symbol {
    font-family: var(--font_symbol);
    font-weight: 500;
}








header.index {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    page-break-inside: avoid;
    width: var(--layout_screen);
    margin: auto;
    padding: calc(var(--layout_unit)*1) calc(var(--layout_unit)*1) 0 calc(var(--layout_unit)*1);
}

span.incoming {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
    padding: 0 calc(var(--layout_unit)*1) 0 calc(var(--layout_unit)*1);
}

span.space {
    width: calc(var(--layout_unit));
}

code.index {
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    border-radius: 33%;
    padding: calc(var(--layout_unit));
    font-size: calc(var(--layout_unit)*1.5);
    background-color: var(--color_canvas);
}






footer.index {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    box-sizing: border-box;
    width: var(--layout_screen);
    margin: auto;
    padding: calc(var(--layout_unit)*1);
}

span.outgoing {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    list-style: none;
    width: 100%;
}

code.data {
    display: inline-block;
    background: var(--color_accent);
    font-size: calc(var(--layout_unit)*.5);
    font-weight: 400;
}






span.layout {
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(var(--grid_divisions), 1fr);
    grid-template-rows: repeat(var(--grid_divisions), 1fr);
    page-break-inside: avoid;
}

.layout span {
    box-sizing: border-box;
    position: relative;
}

.layout span::after {
    content: "";
    position: absolute;
    top: calc(50% - var(--dot_size) / 2);
    left: calc(50% - var(--dot_size) / 2);
    width: var(--dot_size);
    height: var(--dot_size);
    background: var(--color_annotate);
    border-radius: 50%;
}



body.directory {
    background-color: var(--color_back);
}

body.magazine {
    background-color: var(--color_back);
}



body.board {
    background-color: var(--color_back);
    margin: 0;
    overflow-y: auto;
}

article.page {
    width: var(--layout_screen);
    height: var(--layout_screen);
    box-sizing: border-box;
    margin: auto;
    padding: 0 calc(var(--layout_unit)*1) calc(var(--layout_unit)*1) calc(var(--layout_unit)*1);
    position: relative;
    page-break-inside: avoid;
    display: flex;
    justify-content: center;
}








h1 {
    font-size: calc(var(--layout_unit)*1);
    line-height: calc(var(--layout_unit)*.5);
} /* update: 25.02.13 */


h1.entity {
    align-items: baseline;
    color: var(--color_marsorange);
    font-family: var(--font_text);
    font-style: italic;
    font-weight: 800;
    margin-block-end: 0;
    margin-block-start: 0;
    text-align: right;
    text-decoration-line: none;
    width: auto;
} /* update: 25.02.13 */

h1.header {
    align-items: baseline;
    text-align: right;
    width: auto;
    color: var(--color_marrakech);
    font-family: var(--font_text);
    font-weight: 800;
    font-style: italic;
    text-decoration-line: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1.overlay {
    align-items: baseline;
    text-align: right;
    width: auto;
    color: var(--color_marrakech);
    font-family: var(--font_text);
    font-weight: 800;
    font-style: italic;
    text-decoration-line: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1.uniform {
    align-items: baseline;
    text-align: right;
    width: auto;
    color: var(--color_back);
    font-family: var(--font_text);
    font-weight: 800;
    font-style: italic;
    text-decoration-line: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

h1.contrast {
    align-items: baseline;
    text-align: right;
    width: auto;
    color: var(--color_front);
    font-family: var(--font_text);
    font-weight: 800;
    font-style: italic;
    text-decoration-line: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2.uniform {
    text-align: right;
    line-height: calc(var(--layout_unit)*1.25);
    width: auto;
    color: var(--color_back);
    font-size: calc(var(--layout_unit)*1.5);
    font-family: var(--font_text);
    font-weight: 800;
    font-style: normal;
    text-decoration-line: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

h2.contrast {
    text-align: right;
    line-height: calc(var(--layout_unit)*1.25);
    width: auto;
    color: var(--color_front);
    font-size: calc(var(--layout_unit)*1.5);
    font-family: var(--font_text);
    font-weight: 800;
    font-style: normal;
    text-decoration-line: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

h5.uniform {
    text-align: left;
    line-height: calc(var(--layout_unit)*1);
    width: auto;
    color: var(--color_back);
    font-size: calc(var(--layout_unit)*.9);
    font-family: var(--font_text);
    font-weight: 500;
    font-style: normal;
    text-decoration-line: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

h5.contrast {
    text-align: left;
    line-height: calc(var(--layout_unit)*1);
    width: auto;
    color: var(--color_front);
    font-size: calc(var(--layout_unit)*.9);
    font-family: var(--font_text);
    font-weight: 500;
    font-style: normal;
    text-decoration-line: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

h6 {
    font-size: calc(var(--layout_unit)*.4);
    line-height: calc(var(--layout_unit)*.5);
}

h6.overlay {
    color: var(--color_white);
    font-family: var(--font_text);
    font-weight: 400;
    font-style: normal;
    text-align: right;
    padding: 0;
    margin-block-start: calc(var(--layout_unit)*.25);
    margin-block-end: 0%;
}

h6.uniform {
    color: var(--color_back);
    font-family: var(--font_text);
    font-weight: 400;
    font-style: normal;
    text-align: right;
    padding: 0;
    margin-block-start: calc(var(--layout_unit)*.25);
    margin-block-end: 0%;
}

h6.contrast {
    line-height: calc(var(--layout_unit)*.5);
    color: var(--color_front);
    font-family: var(--font_text);
    font-weight: 400;
    font-style: normal;
    text-align: right;
    padding: 0;
    margin-block-start: calc(var(--layout_unit)*.25);
    margin-block-end: 0%;
}

span.symbols {
    height: calc(var(--layout_unit)*4);
    align-self: center;
    background-color: transparent;
    width: calc(var(--layout_unit)*4);
    justify-content: flex-end;
    padding: calc(var(--layout_unit)*.5);
}

h3.symbol {
    display: flex;
    align-items: center;
    height: 100%;
    line-height: calc(var(--layout_unit)*2);
    font-size: calc(var(--layout_unit)*2);
    color: var(--color_accent);
    text-decoration-line: none;
    margin: auto;
}

div.paragraph {
    display: flex;
    flex-wrap: wrap;
    
}

p.data {
    display: block;
    margin: 0;
    column-count: 2;
    column-gap: calc(var(--layout_unit)*1);
    color: var(--color_accent);
    font-size: calc(var(--layout_unit)*.5);
    font-weight: 200;
}

span.element {
    display: flex;
    justify-content: flex-end;
}

code.platform {
    display: inline-block;
    font-family: var(--font_data);
    font-size: calc(var(--layout_unit)*.6);
    font-weight: 400;
    background: var(--color_back);
}

code.source {
    display: inline-block;
    font-family: var(--font_data);
    font-size: calc(var(--layout_unit)*.6);
    font-weight: 400;
    background: var(--color_back);
    border-radius: calc(var(--layout_unit)*.5);
    margin: 0 calc(var(--layout_unit)*.25) 0 0;
    padding: calc(var(--layout_unit)*.5);
}

code.return {
    color: var(--color_accent);
    display: inline-block;
    font-family: var(--font_data);
    font-size: calc(var(--layout_unit)*.4);
    font-weight: 400;
    padding: calc(var(--layout_unit)*.25);
}






body.folio {
    background-color: var(--color_back);
    margin: 0;
    overflow-y: auto;
}

